.video-card {
  cursor: pointer;
}
  /* Adjust the dialog width and background color */

.p-dialog.video-modal{
  width: 100%;
  max-width: 50rem;
  border-radius: var(--border-radius-m);
  background: #fff;
}

.modal-video {
  width: 50%;
}

.modal-video__container {
  display: flex;
  padding: var(--gap4);
}


/* Customize the header */
.p-dialog-header {
  color: white;
  font-size: 1.25rem;
  padding: 1rem;
}

/* Add padding to the content */
.p-dialog-content {
  padding: 1.5rem;
}

/* Customize the footer */
.p-dialog-footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: right;
}

.p-dialog-mask {
  background: rgba(0, 0, 0, 0.7);
}